<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Séries
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngIf="listaSerie">

    <ion-item-sliding *ngFor="let serie of listaSerie">
    <ion-item Lines="Full"  button (click)="exibirSerie(serie)">

      <ion-thumbnail slot="start">
        <img *ngIf="serie.cartaz" src="{{serie.cartaz}}">
        <ion-icon *ngIf="!serie.cartaz" name="videocam-off"></ion-icon>
      </ion-thumbnail>

      <ion-label class="ion-text-wrap">
        <div>
          <h1>{{serie.nome}}</h1>
          <p>{{serie.lancamento}}</p>
          <ion-badge color="medium" *ngFor="let genero of serie.generos">
            {{genero}}
          </ion-badge>
          <ion-icon name="star" [color]="serie.favorito===true ? 'warning' : ('light')"></ion-icon>
        </div>
      </ion-label>

      <ion-chip [color]="serie.classificacao < 5 ? 'danger' : (serie.classificacao < 7 ? 'warning' : ('success'))">
        <ion-label>{{serie.classificacao}}</ion-label>
      </ion-chip>

      <ion-item-options side="start">
        <ion-item-option color="primary">
          <ion-icon slot="start" name="star"></ion-icon>
        </ion-item-option>
      </ion-item-options>

    </ion-item>
    </ion-item-sliding>

  </ion-list>
</ion-content>
