<ion-header>
  <ion-toolbar color = "dark">
    <ion-button slot="start">
      <ion-back-button color ="white"></ion-back-button>
    </ion-button>
    <ion-title>{{ator.nome}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-card *ngIf="ator">
    <ion-card-header>
      <img *ngIf="ator.foto" src="{{ator.foto}}"/>
      <ion-icon *ngIf="!ator.foto" name="videocam-off"></ion-icon>
    </ion-card-header>

    <ion-card-content>
      <h1>{{ator.nome}}</h1>
      <p>{{ator.nascimento}}
        <ion-chip [color]="ator.classificacao < 5 ? 'danger' : (ator.classificacao < 7 ? 'warning' : ('success'))">
          <ion-label>{{ator.classificacao}}</ion-label>
        </ion-chip>
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>
